.silk-new{ background-position: 0 0; width: 16px; height: 16px; } 
.silk-newspaper{ background-position: 0 -32px; width: 16px; height: 16px; } 
.silk-newspaper_add{ background-position: 0 -64px; width: 16px; height: 16px; } 
.silk-newspaper_delete{ background-position: 0 -96px; width: 16px; height: 16px; } 
.silk-newspaper_go{ background-position: 0 -128px; width: 16px; height: 16px; } 
.silk-newspaper_link{ background-position: 0 -160px; width: 16px; height: 16px; } 
.silk-note{ background-position: 0 -192px; width: 16px; height: 16px; } 
.silk-note_add{ background-position: 0 -224px; width: 16px; height: 16px; } 
.silk-note_delete{ background-position: 0 -256px; width: 16px; height: 16px; } 
.silk-note_edit{ background-position: 0 -288px; width: 16px; height: 16px; } 
.silk-note_error{ background-position: 0 -320px; width: 16px; height: 16px; } 
.silk-note_go{ background-position: 0 -352px; width: 16px; height: 16px; } 
.silk-overlays{ background-position: 0 -384px; width: 16px; height: 16px; } 
.silk-package{ background-position: 0 -416px; width: 16px; height: 16px; } 
.silk-package_add{ background-position: 0 -448px; width: 16px; height: 16px; } 
.silk-package_delete{ background-position: 0 -480px; width: 16px; height: 16px; } 
.silk-package_go{ background-position: 0 -512px; width: 16px; height: 16px; } 
.silk-package_green{ background-position: 0 -544px; width: 16px; height: 16px; } 
.silk-package_link{ background-position: 0 -576px; width: 16px; height: 16px; } 
.silk-page{ background-position: 0 -608px; width: 16px; height: 16px; } 
.silk-page_add{ background-position: 0 -640px; width: 16px; height: 16px; } 
.silk-page_attach{ background-position: 0 -672px; width: 16px; height: 16px; } 
.silk-page_code{ background-position: 0 -704px; width: 16px; height: 16px; } 
.silk-page_copy{ background-position: 0 -736px; width: 16px; height: 16px; } 
.silk-page_delete{ background-position: 0 -768px; width: 16px; height: 16px; } 
.silk-page_edit{ background-position: 0 -800px; width: 16px; height: 16px; } 
.silk-page_error{ background-position: 0 -832px; width: 16px; height: 16px; } 
.silk-page_excel{ background-position: 0 -864px; width: 16px; height: 16px; } 
.silk-page_find{ background-position: 0 -896px; width: 16px; height: 16px; } 
.silk-page_gear{ background-position: 0 -928px; width: 16px; height: 16px; } 
.silk-page_go{ background-position: 0 -960px; width: 16px; height: 16px; } 
.silk-page_green{ background-position: 0 -992px; width: 16px; height: 16px; } 
.silk-page_key{ background-position: 0 -1024px; width: 16px; height: 16px; } 
.silk-page_lightning{ background-position: 0 -1056px; width: 16px; height: 16px; } 
.silk-page_link{ background-position: 0 -1088px; width: 16px; height: 16px; } 
.silk-page_paintbrush{ background-position: 0 -1120px; width: 16px; height: 16px; } 
.silk-page_paste{ background-position: 0 -1152px; width: 16px; height: 16px; } 
.silk-page_red{ background-position: 0 -1184px; width: 16px; height: 16px; } 
.silk-page_refresh{ background-position: 0 -1216px; width: 16px; height: 16px; } 
.silk-page_save{ background-position: 0 -1248px; width: 16px; height: 16px; } 
.silk-page_white{ background-position: 0 -1280px; width: 16px; height: 16px; } 
.silk-page_white_acrobat{ background-position: 0 -1312px; width: 16px; height: 16px; } 
.silk-page_white_actionscript{ background-position: 0 -1344px; width: 16px; height: 16px; } 
.silk-page_white_add{ background-position: 0 -1376px; width: 16px; height: 16px; } 
.silk-page_white_c{ background-position: 0 -1408px; width: 16px; height: 16px; } 
.silk-page_white_camera{ background-position: 0 -1440px; width: 16px; height: 16px; } 
.silk-page_white_cd{ background-position: 0 -1472px; width: 16px; height: 16px; } 
.silk-page_white_code{ background-position: 0 -1504px; width: 16px; height: 16px; } 
.silk-page_white_code_red{ background-position: 0 -1536px; width: 16px; height: 16px; } 
.silk-page_white_coldfusion{ background-position: 0 -1568px; width: 16px; height: 16px; } 
.silk-page_white_compressed{ background-position: 0 -1600px; width: 16px; height: 16px; } 
.silk-page_white_copy{ background-position: 0 -1632px; width: 16px; height: 16px; } 
.silk-page_white_cplusplus{ background-position: 0 -1664px; width: 16px; height: 16px; } 
.silk-page_white_csharp{ background-position: 0 -1696px; width: 16px; height: 16px; } 
.silk-page_white_cup{ background-position: 0 -1728px; width: 16px; height: 16px; } 
.silk-page_white_database{ background-position: 0 -1760px; width: 16px; height: 16px; } 
.silk-page_white_delete{ background-position: 0 -1792px; width: 16px; height: 16px; } 
.silk-page_white_dvd{ background-position: 0 -1824px; width: 16px; height: 16px; } 
.silk-page_white_edit{ background-position: 0 -1856px; width: 16px; height: 16px; } 
.silk-page_white_error{ background-position: 0 -1888px; width: 16px; height: 16px; } 
.silk-page_white_excel{ background-position: 0 -1920px; width: 16px; height: 16px; } 
.silk-page_white_find{ background-position: 0 -1952px; width: 16px; height: 16px; } 
.silk-page_white_flash{ background-position: -32px 0; width: 16px; height: 16px; } 
.silk-page_white_freehand{ background-position: -32px -32px; width: 16px; height: 16px; } 
.silk-page_white_gear{ background-position: -32px -64px; width: 16px; height: 16px; } 
.silk-page_white_get{ background-position: -32px -96px; width: 16px; height: 16px; } 
.silk-page_white_go{ background-position: -32px -128px; width: 16px; height: 16px; } 
.silk-page_white_h{ background-position: -32px -160px; width: 16px; height: 16px; } 
.silk-page_white_horizontal{ background-position: -32px -192px; width: 16px; height: 16px; } 
.silk-page_white_key{ background-position: -32px -224px; width: 16px; height: 16px; } 
.silk-page_white_lightning{ background-position: -32px -256px; width: 16px; height: 16px; } 
.silk-page_white_link{ background-position: -32px -288px; width: 16px; height: 16px; } 
.silk-page_white_magnify{ background-position: -32px -320px; width: 16px; height: 16px; } 
.silk-page_white_medal{ background-position: -32px -352px; width: 16px; height: 16px; } 
.silk-page_white_office{ background-position: -32px -384px; width: 16px; height: 16px; } 
.silk-page_white_paint{ background-position: -32px -416px; width: 16px; height: 16px; } 
.silk-page_white_paintbrush{ background-position: -32px -448px; width: 16px; height: 16px; } 
.silk-page_white_paste{ background-position: -32px -480px; width: 16px; height: 16px; } 
.silk-page_white_php{ background-position: -32px -512px; width: 16px; height: 16px; } 
.silk-page_white_picture{ background-position: -32px -544px; width: 16px; height: 16px; } 
.silk-page_white_powerpoint{ background-position: -32px -576px; width: 16px; height: 16px; } 
.silk-page_white_put{ background-position: -32px -608px; width: 16px; height: 16px; } 
.silk-page_white_ruby{ background-position: -32px -640px; width: 16px; height: 16px; } 
.silk-page_white_stack{ background-position: -32px -672px; width: 16px; height: 16px; } 
.silk-page_white_star{ background-position: -32px -704px; width: 16px; height: 16px; } 
.silk-page_white_swoosh{ background-position: -32px -736px; width: 16px; height: 16px; } 
.silk-page_white_text{ background-position: -32px -768px; width: 16px; height: 16px; } 
.silk-page_white_text_width{ background-position: -32px -800px; width: 16px; height: 16px; } 
.silk-page_white_tux{ background-position: -32px -832px; width: 16px; height: 16px; } 
.silk-page_white_vector{ background-position: -32px -864px; width: 16px; height: 16px; } 
.silk-page_white_visualstudio{ background-position: -32px -896px; width: 16px; height: 16px; } 
.silk-page_white_width{ background-position: -32px -928px; width: 16px; height: 16px; } 
.silk-page_white_word{ background-position: -32px -960px; width: 16px; height: 16px; } 
.silk-page_white_world{ background-position: -32px -992px; width: 16px; height: 16px; } 
.silk-page_white_wrench{ background-position: -32px -1024px; width: 16px; height: 16px; } 
.silk-page_white_zip{ background-position: -32px -1056px; width: 16px; height: 16px; } 
.silk-page_word{ background-position: -32px -1088px; width: 16px; height: 16px; } 
.silk-page_world{ background-position: -32px -1120px; width: 16px; height: 16px; } 
.silk-paintbrush{ background-position: -32px -1152px; width: 16px; height: 16px; } 
.silk-paintcan{ background-position: -32px -1184px; width: 16px; height: 16px; } 
.silk-palette{ background-position: -32px -1216px; width: 16px; height: 16px; } 
.silk-paste_plain{ background-position: -32px -1248px; width: 16px; height: 16px; } 
.silk-paste_word{ background-position: -32px -1280px; width: 16px; height: 16px; } 
.silk-pencil{ background-position: -32px -1312px; width: 16px; height: 16px; } 
.silk-pencil_add{ background-position: -32px -1344px; width: 16px; height: 16px; } 
.silk-pencil_delete{ background-position: -32px -1376px; width: 16px; height: 16px; } 
.silk-pencil_go{ background-position: -32px -1408px; width: 16px; height: 16px; } 
.silk-phone{ background-position: -32px -1440px; width: 16px; height: 16px; } 
.silk-phone_add{ background-position: -32px -1472px; width: 16px; height: 16px; } 
.silk-phone_delete{ background-position: -32px -1504px; width: 16px; height: 16px; } 
.silk-phone_sound{ background-position: -32px -1536px; width: 16px; height: 16px; } 
.silk-photo{ background-position: -32px -1568px; width: 16px; height: 16px; } 
.silk-photo_add{ background-position: -32px -1600px; width: 16px; height: 16px; } 
.silk-photo_delete{ background-position: -32px -1632px; width: 16px; height: 16px; } 
.silk-photo_link{ background-position: -32px -1664px; width: 16px; height: 16px; } 
.silk-photos{ background-position: -32px -1696px; width: 16px; height: 16px; } 
.silk-picture{ background-position: -32px -1728px; width: 16px; height: 16px; } 
.silk-picture_add{ background-position: -32px -1760px; width: 16px; height: 16px; } 
.silk-picture_delete{ background-position: -32px -1792px; width: 16px; height: 16px; } 
.silk-picture_edit{ background-position: -32px -1824px; width: 16px; height: 16px; } 
.silk-picture_empty{ background-position: -32px -1856px; width: 16px; height: 16px; } 
.silk-picture_error{ background-position: -32px -1888px; width: 16px; height: 16px; } 
.silk-picture_go{ background-position: -32px -1920px; width: 16px; height: 16px; } 
.silk-picture_key{ background-position: -32px -1952px; width: 16px; height: 16px; } 
.silk-picture_link{ background-position: -64px 0; width: 16px; height: 16px; } 
.silk-picture_save{ background-position: -64px -32px; width: 16px; height: 16px; } 
.silk-pictures{ background-position: -64px -64px; width: 16px; height: 16px; } 
.silk-pilcrow{ background-position: -64px -96px; width: 16px; height: 16px; } 
.silk-pill{ background-position: -64px -128px; width: 16px; height: 16px; } 
.silk-pill_add{ background-position: -64px -160px; width: 16px; height: 16px; } 
.silk-pill_delete{ background-position: -64px -192px; width: 16px; height: 16px; } 
.silk-pill_go{ background-position: -64px -224px; width: 16px; height: 16px; } 
.silk-plugin{ background-position: -64px -256px; width: 16px; height: 16px; } 
.silk-plugin_add{ background-position: -64px -288px; width: 16px; height: 16px; } 
.silk-plugin_delete{ background-position: -64px -320px; width: 16px; height: 16px; } 
.silk-plugin_disabled{ background-position: -64px -352px; width: 16px; height: 16px; } 
.silk-plugin_edit{ background-position: -64px -384px; width: 16px; height: 16px; } 
.silk-plugin_error{ background-position: -64px -416px; width: 16px; height: 16px; } 
.silk-plugin_go{ background-position: -64px -448px; width: 16px; height: 16px; } 
.silk-plugin_link{ background-position: -64px -480px; width: 16px; height: 16px; } 
.silk-printer{ background-position: -64px -512px; width: 16px; height: 16px; } 
.silk-printer_add{ background-position: -64px -544px; width: 16px; height: 16px; } 
.silk-printer_delete{ background-position: -64px -576px; width: 16px; height: 16px; } 
.silk-printer_empty{ background-position: -64px -608px; width: 16px; height: 16px; } 
.silk-printer_error{ background-position: -64px -640px; width: 16px; height: 16px; } 
.silk-rainbow{ background-position: -64px -672px; width: 16px; height: 16px; } 
.silk-report{ background-position: -64px -704px; width: 16px; height: 16px; } 
.silk-report_add{ background-position: -64px -736px; width: 16px; height: 16px; } 
.silk-report_delete{ background-position: -64px -768px; width: 16px; height: 16px; } 
.silk-report_disk{ background-position: -64px -800px; width: 16px; height: 16px; } 
.silk-report_edit{ background-position: -64px -832px; width: 16px; height: 16px; } 
.silk-report_go{ background-position: -64px -864px; width: 16px; height: 16px; } 
.silk-report_key{ background-position: -64px -896px; width: 16px; height: 16px; } 
.silk-report_link{ background-position: -64px -928px; width: 16px; height: 16px; } 
.silk-report_magnify{ background-position: -64px -960px; width: 16px; height: 16px; } 
.silk-report_picture{ background-position: -64px -992px; width: 16px; height: 16px; } 
.silk-report_user{ background-position: -64px -1024px; width: 16px; height: 16px; } 
.silk-report_word{ background-position: -64px -1056px; width: 16px; height: 16px; } 
.silk-resultset_first{ background-position: -64px -1088px; width: 16px; height: 16px; } 
.silk-resultset_last{ background-position: -64px -1120px; width: 16px; height: 16px; } 
.silk-resultset_next{ background-position: -64px -1152px; width: 16px; height: 16px; } 
.silk-resultset_previous{ background-position: -64px -1184px; width: 16px; height: 16px; } 
.silk-rosette{ background-position: -64px -1216px; width: 16px; height: 16px; } 
.silk-rss{ background-position: -64px -1248px; width: 16px; height: 16px; } 
.silk-rss_add{ background-position: -64px -1280px; width: 16px; height: 16px; } 
.silk-rss_delete{ background-position: -64px -1312px; width: 16px; height: 16px; } 
.silk-rss_go{ background-position: -64px -1344px; width: 16px; height: 16px; } 
.silk-rss_valid{ background-position: -64px -1376px; width: 16px; height: 16px; } 
.silk-ruby{ background-position: -64px -1408px; width: 16px; height: 16px; } 
.silk-ruby_add{ background-position: -64px -1440px; width: 16px; height: 16px; } 
.silk-ruby_delete{ background-position: -64px -1472px; width: 16px; height: 16px; } 
.silk-ruby_gear{ background-position: -64px -1504px; width: 16px; height: 16px; } 
.silk-ruby_get{ background-position: -64px -1536px; width: 16px; height: 16px; } 
.silk-ruby_go{ background-position: -64px -1568px; width: 16px; height: 16px; } 
.silk-ruby_key{ background-position: -64px -1600px; width: 16px; height: 16px; } 
.silk-ruby_link{ background-position: -64px -1632px; width: 16px; height: 16px; } 
.silk-ruby_put{ background-position: -64px -1664px; width: 16px; height: 16px; } 
.silk-script{ background-position: -64px -1696px; width: 16px; height: 16px; } 
.silk-script_add{ background-position: -64px -1728px; width: 16px; height: 16px; } 
.silk-script_code{ background-position: -64px -1760px; width: 16px; height: 16px; } 
.silk-script_code_red{ background-position: -64px -1792px; width: 16px; height: 16px; } 
.silk-script_delete{ background-position: -64px -1824px; width: 16px; height: 16px; } 
.silk-script_edit{ background-position: -64px -1856px; width: 16px; height: 16px; } 
.silk-script_error{ background-position: -64px -1888px; width: 16px; height: 16px; } 
.silk-script_gear{ background-position: -64px -1920px; width: 16px; height: 16px; } 
.silk-script_go{ background-position: -64px -1952px; width: 16px; height: 16px; } 
.silk-script_key{ background-position: -96px 0; width: 16px; height: 16px; } 
.silk-script_lightning{ background-position: -96px -32px; width: 16px; height: 16px; } 
.silk-script_link{ background-position: -96px -64px; width: 16px; height: 16px; } 
.silk-script_palette{ background-position: -96px -96px; width: 16px; height: 16px; } 
.silk-script_save{ background-position: -96px -128px; width: 16px; height: 16px; } 
.silk-server{ background-position: -96px -160px; width: 16px; height: 16px; } 
.silk-server_add{ background-position: -96px -192px; width: 16px; height: 16px; } 
.silk-server_chart{ background-position: -96px -224px; width: 16px; height: 16px; } 
.silk-server_compressed{ background-position: -96px -256px; width: 16px; height: 16px; } 
.silk-server_connect{ background-position: -96px -288px; width: 16px; height: 16px; } 
.silk-server_database{ background-position: -96px -320px; width: 16px; height: 16px; } 
.silk-server_delete{ background-position: -96px -352px; width: 16px; height: 16px; } 
.silk-server_edit{ background-position: -96px -384px; width: 16px; height: 16px; } 
.silk-server_error{ background-position: -96px -416px; width: 16px; height: 16px; } 
.silk-server_go{ background-position: -96px -448px; width: 16px; height: 16px; } 
.silk-server_key{ background-position: -96px -480px; width: 16px; height: 16px; } 
.silk-server_lightning{ background-position: -96px -512px; width: 16px; height: 16px; } 
.silk-server_link{ background-position: -96px -544px; width: 16px; height: 16px; } 
.silk-server_uncompressed{ background-position: -96px -576px; width: 16px; height: 16px; } 
.silk-shading{ background-position: -96px -608px; width: 16px; height: 16px; } 
.silk-shape_align_bottom{ background-position: -96px -640px; width: 16px; height: 16px; } 
.silk-shape_align_center{ background-position: -96px -672px; width: 16px; height: 16px; } 
.silk-shape_align_left{ background-position: -96px -704px; width: 16px; height: 16px; } 
.silk-shape_align_middle{ background-position: -96px -736px; width: 16px; height: 16px; } 
.silk-shape_align_right{ background-position: -96px -768px; width: 16px; height: 16px; } 
.silk-shape_align_top{ background-position: -96px -800px; width: 16px; height: 16px; } 
.silk-shape_flip_horizontal{ background-position: -96px -832px; width: 16px; height: 16px; } 
.silk-shape_flip_vertical{ background-position: -96px -864px; width: 16px; height: 16px; } 
.silk-shape_group{ background-position: -96px -896px; width: 16px; height: 16px; } 
.silk-shape_handles{ background-position: -96px -928px; width: 16px; height: 16px; } 
.silk-shape_move_back{ background-position: -96px -960px; width: 16px; height: 16px; } 
.silk-shape_move_backwards{ background-position: -96px -992px; width: 16px; height: 16px; } 
.silk-shape_move_forwards{ background-position: -96px -1024px; width: 16px; height: 16px; } 
.silk-shape_move_front{ background-position: -96px -1056px; width: 16px; height: 16px; } 
.silk-shape_rotate_anticlockwise{ background-position: -96px -1088px; width: 16px; height: 16px; } 
.silk-shape_rotate_clockwise{ background-position: -96px -1120px; width: 16px; height: 16px; } 
.silk-shape_square{ background-position: -96px -1152px; width: 16px; height: 16px; } 
.silk-shape_square_add{ background-position: -96px -1184px; width: 16px; height: 16px; } 
.silk-shape_square_delete{ background-position: -96px -1216px; width: 16px; height: 16px; } 
.silk-shape_square_edit{ background-position: -96px -1248px; width: 16px; height: 16px; } 
.silk-shape_square_error{ background-position: -96px -1280px; width: 16px; height: 16px; } 
.silk-shape_square_go{ background-position: -96px -1312px; width: 16px; height: 16px; } 
.silk-shape_square_key{ background-position: -96px -1344px; width: 16px; height: 16px; } 
.silk-shape_square_link{ background-position: -96px -1376px; width: 16px; height: 16px; } 
.silk-shape_ungroup{ background-position: -96px -1408px; width: 16px; height: 16px; } 
.silk-shield{ background-position: -96px -1440px; width: 16px; height: 16px; } 
.silk-shield_add{ background-position: -96px -1472px; width: 16px; height: 16px; } 
.silk-shield_delete{ background-position: -96px -1504px; width: 16px; height: 16px; } 
.silk-shield_go{ background-position: -96px -1536px; width: 16px; height: 16px; } 
.silk-sitemap{ background-position: -96px -1568px; width: 16px; height: 16px; } 
.silk-sitemap_color{ background-position: -96px -1600px; width: 16px; height: 16px; } 
.silk-sound{ background-position: -96px -1632px; width: 16px; height: 16px; } 
.silk-sound_add{ background-position: -96px -1664px; width: 16px; height: 16px; } 
.silk-sound_delete{ background-position: -96px -1696px; width: 16px; height: 16px; } 
.silk-sound_low{ background-position: -96px -1728px; width: 16px; height: 16px; } 
.silk-sound_mute{ background-position: -96px -1760px; width: 16px; height: 16px; } 
.silk-sound_none{ background-position: -96px -1792px; width: 16px; height: 16px; } 
.silk-spellcheck{ background-position: -96px -1824px; width: 16px; height: 16px; } 
.silk-sport_8ball{ background-position: -96px -1856px; width: 16px; height: 16px; } 
.silk-sport_basketball{ background-position: -96px -1888px; width: 16px; height: 16px; } 
.silk-sport_football{ background-position: -96px -1920px; width: 16px; height: 16px; } 
.silk-sport_golf{ background-position: -96px -1952px; width: 16px; height: 16px; } 
.silk-sport_raquet{ background-position: -128px 0; width: 16px; height: 16px; } 
.silk-sport_shuttlecock{ background-position: -128px -32px; width: 16px; height: 16px; } 
.silk-sport_soccer{ background-position: -128px -64px; width: 16px; height: 16px; } 
.silk-sport_tennis{ background-position: -128px -96px; width: 16px; height: 16px; } 
.silk-star{ background-position: -128px -128px; width: 16px; height: 16px; } 
.silk-status_away{ background-position: -128px -160px; width: 16px; height: 16px; } 
.silk-status_busy{ background-position: -128px -192px; width: 16px; height: 16px; } 
.silk-status_offline{ background-position: -128px -224px; width: 16px; height: 16px; } 
.silk-status_online{ background-position: -128px -256px; width: 16px; height: 16px; } 
.silk-stop{ background-position: -128px -288px; width: 16px; height: 16px; } 
.silk-style{ background-position: -128px -320px; width: 16px; height: 16px; } 
.silk-style_add{ background-position: -128px -352px; width: 16px; height: 16px; } 
.silk-style_delete{ background-position: -128px -384px; width: 16px; height: 16px; } 
.silk-style_edit{ background-position: -128px -416px; width: 16px; height: 16px; } 
.silk-style_go{ background-position: -128px -448px; width: 16px; height: 16px; } 
.silk-sum{ background-position: -128px -480px; width: 16px; height: 16px; } 
.silk-tab{ background-position: -128px -512px; width: 16px; height: 16px; } 
.silk-tab_add{ background-position: -128px -544px; width: 16px; height: 16px; } 
.silk-tab_delete{ background-position: -128px -576px; width: 16px; height: 16px; } 
.silk-tab_edit{ background-position: -128px -608px; width: 16px; height: 16px; } 
.silk-tab_go{ background-position: -128px -640px; width: 16px; height: 16px; } 
.silk-table{ background-position: -128px -672px; width: 16px; height: 16px; } 
.silk-table_add{ background-position: -128px -704px; width: 16px; height: 16px; } 
.silk-table_delete{ background-position: -128px -736px; width: 16px; height: 16px; } 
.silk-table_edit{ background-position: -128px -768px; width: 16px; height: 16px; } 
.silk-table_error{ background-position: -128px -800px; width: 16px; height: 16px; } 
.silk-table_gear{ background-position: -128px -832px; width: 16px; height: 16px; } 
.silk-table_go{ background-position: -128px -864px; width: 16px; height: 16px; } 
.silk-table_key{ background-position: -128px -896px; width: 16px; height: 16px; } 
.silk-table_lightning{ background-position: -128px -928px; width: 16px; height: 16px; } 
.silk-table_link{ background-position: -128px -960px; width: 16px; height: 16px; } 
.silk-table_multiple{ background-position: -128px -992px; width: 16px; height: 16px; } 
.silk-table_refresh{ background-position: -128px -1024px; width: 16px; height: 16px; } 
.silk-table_relationship{ background-position: -128px -1056px; width: 16px; height: 16px; } 
.silk-table_row_delete{ background-position: -128px -1088px; width: 16px; height: 16px; } 
.silk-table_row_insert{ background-position: -128px -1120px; width: 16px; height: 16px; } 
.silk-table_save{ background-position: -128px -1152px; width: 16px; height: 16px; } 
.silk-table_sort{ background-position: -128px -1184px; width: 16px; height: 16px; } 
.silk-tag{ background-position: -128px -1216px; width: 16px; height: 16px; } 
.silk-tag_blue{ background-position: -128px -1248px; width: 16px; height: 16px; } 
.silk-tag_blue_add{ background-position: -128px -1280px; width: 16px; height: 16px; } 
.silk-tag_blue_delete{ background-position: -128px -1312px; width: 16px; height: 16px; } 
.silk-tag_blue_edit{ background-position: -128px -1344px; width: 16px; height: 16px; } 
.silk-tag_green{ background-position: -128px -1376px; width: 16px; height: 16px; } 
.silk-tag_orange{ background-position: -128px -1408px; width: 16px; height: 16px; } 
.silk-tag_pink{ background-position: -128px -1440px; width: 16px; height: 16px; } 
.silk-tag_purple{ background-position: -128px -1472px; width: 16px; height: 16px; } 
.silk-tag_red{ background-position: -128px -1504px; width: 16px; height: 16px; } 
.silk-tag_yellow{ background-position: -128px -1536px; width: 16px; height: 16px; } 
.silk-telephone{ background-position: -128px -1568px; width: 16px; height: 16px; } 
.silk-telephone_add{ background-position: -128px -1600px; width: 16px; height: 16px; } 
.silk-telephone_delete{ background-position: -128px -1632px; width: 16px; height: 16px; } 
.silk-telephone_edit{ background-position: -128px -1664px; width: 16px; height: 16px; } 
.silk-telephone_error{ background-position: -128px -1696px; width: 16px; height: 16px; } 
.silk-telephone_go{ background-position: -128px -1728px; width: 16px; height: 16px; } 
.silk-telephone_key{ background-position: -128px -1760px; width: 16px; height: 16px; } 
.silk-telephone_link{ background-position: -128px -1792px; width: 16px; height: 16px; } 
.silk-television{ background-position: -128px -1824px; width: 16px; height: 16px; } 
.silk-television_add{ background-position: -128px -1856px; width: 16px; height: 16px; } 
.silk-television_delete{ background-position: -128px -1888px; width: 16px; height: 16px; } 
.silk-text_align_center{ background-position: -128px -1920px; width: 16px; height: 16px; } 
.silk-text_align_justify{ background-position: -128px -1952px; width: 16px; height: 16px; } 
.silk-text_align_left{ background-position: -160px 0; width: 16px; height: 16px; } 
.silk-text_align_right{ background-position: -160px -32px; width: 16px; height: 16px; } 
.silk-text_allcaps{ background-position: -160px -64px; width: 16px; height: 16px; } 
.silk-text_bold{ background-position: -160px -96px; width: 16px; height: 16px; } 
.silk-text_columns{ background-position: -160px -128px; width: 16px; height: 16px; } 
.silk-text_dropcaps{ background-position: -160px -160px; width: 16px; height: 16px; } 
.silk-text_heading_1{ background-position: -160px -192px; width: 16px; height: 16px; } 
.silk-text_heading_2{ background-position: -160px -224px; width: 16px; height: 16px; } 
.silk-text_heading_3{ background-position: -160px -256px; width: 16px; height: 16px; } 
.silk-text_heading_4{ background-position: -160px -288px; width: 16px; height: 16px; } 
.silk-text_heading_5{ background-position: -160px -320px; width: 16px; height: 16px; } 
.silk-text_heading_6{ background-position: -160px -352px; width: 16px; height: 16px; } 
.silk-text_horizontalrule{ background-position: -160px -384px; width: 16px; height: 16px; } 
.silk-text_indent{ background-position: -160px -416px; width: 16px; height: 16px; } 
.silk-text_indent_remove{ background-position: -160px -448px; width: 16px; height: 16px; } 
.silk-text_italic{ background-position: -160px -480px; width: 16px; height: 16px; } 
.silk-text_kerning{ background-position: -160px -512px; width: 16px; height: 16px; } 
.silk-text_letter_omega{ background-position: -160px -544px; width: 16px; height: 16px; } 
.silk-text_letterspacing{ background-position: -160px -576px; width: 16px; height: 16px; } 
.silk-text_linespacing{ background-position: -160px -608px; width: 16px; height: 16px; } 
.silk-text_list_bullets{ background-position: -160px -640px; width: 16px; height: 16px; } 
.silk-text_list_numbers{ background-position: -160px -672px; width: 16px; height: 16px; } 
.silk-text_lowercase{ background-position: -160px -704px; width: 16px; height: 16px; } 
.silk-text_padding_bottom{ background-position: -160px -736px; width: 16px; height: 16px; } 
.silk-text_padding_left{ background-position: -160px -768px; width: 16px; height: 16px; } 
.silk-text_padding_right{ background-position: -160px -800px; width: 16px; height: 16px; } 
.silk-text_padding_top{ background-position: -160px -832px; width: 16px; height: 16px; } 
.silk-text_replace{ background-position: -160px -864px; width: 16px; height: 16px; } 
.silk-text_signature{ background-position: -160px -896px; width: 16px; height: 16px; } 
.silk-text_smallcaps{ background-position: -160px -928px; width: 16px; height: 16px; } 
.silk-text_strikethrough{ background-position: -160px -960px; width: 16px; height: 16px; } 
.silk-text_subscript{ background-position: -160px -992px; width: 16px; height: 16px; } 
.silk-text_superscript{ background-position: -160px -1024px; width: 16px; height: 16px; } 
.silk-text_underline{ background-position: -160px -1056px; width: 16px; height: 16px; } 
.silk-text_uppercase{ background-position: -160px -1088px; width: 16px; height: 16px; } 
.silk-textfield{ background-position: -160px -1120px; width: 16px; height: 16px; } 
.silk-textfield_add{ background-position: -160px -1152px; width: 16px; height: 16px; } 
.silk-textfield_delete{ background-position: -160px -1184px; width: 16px; height: 16px; } 
.silk-textfield_key{ background-position: -160px -1216px; width: 16px; height: 16px; } 
.silk-textfield_rename{ background-position: -160px -1248px; width: 16px; height: 16px; } 
.silk-thumb_down{ background-position: -160px -1280px; width: 16px; height: 16px; } 
.silk-thumb_up{ background-position: -160px -1312px; width: 16px; height: 16px; } 
.silk-tick{ background-position: -160px -1344px; width: 16px; height: 16px; } 
.silk-time{ background-position: -160px -1376px; width: 16px; height: 16px; } 
.silk-time_add{ background-position: -160px -1408px; width: 16px; height: 16px; } 
.silk-time_delete{ background-position: -160px -1440px; width: 16px; height: 16px; } 
.silk-time_go{ background-position: -160px -1472px; width: 16px; height: 16px; } 
.silk-timeline_marker{ background-position: -160px -1504px; width: 16px; height: 16px; } 
.silk-transmit{ background-position: -160px -1536px; width: 16px; height: 16px; } 
.silk-transmit_add{ background-position: -160px -1568px; width: 16px; height: 16px; } 
.silk-transmit_blue{ background-position: -160px -1600px; width: 16px; height: 16px; } 
.silk-transmit_delete{ background-position: -160px -1632px; width: 16px; height: 16px; } 
.silk-transmit_edit{ background-position: -160px -1664px; width: 16px; height: 16px; } 
.silk-transmit_error{ background-position: -160px -1696px; width: 16px; height: 16px; } 
.silk-transmit_go{ background-position: -160px -1728px; width: 16px; height: 16px; } 
.silk-tux{ background-position: -160px -1760px; width: 16px; height: 16px; } 
.silk-user{ background-position: -160px -1792px; width: 16px; height: 16px; } 
.silk-user_add{ background-position: -160px -1824px; width: 16px; height: 16px; } 
.silk-user_comment{ background-position: -160px -1856px; width: 16px; height: 16px; } 
.silk-user_delete{ background-position: -160px -1888px; width: 16px; height: 16px; } 
.silk-user_edit{ background-position: -160px -1920px; width: 16px; height: 16px; } 
.silk-user_female{ background-position: -160px -1952px; width: 16px; height: 16px; } 
.silk-user_go{ background-position: -192px 0; width: 16px; height: 16px; } 
.silk-user_gray{ background-position: -192px -32px; width: 16px; height: 16px; } 
.silk-user_green{ background-position: -192px -64px; width: 16px; height: 16px; } 
.silk-user_orange{ background-position: -192px -96px; width: 16px; height: 16px; } 
.silk-user_red{ background-position: -192px -128px; width: 16px; height: 16px; } 
.silk-user_suit{ background-position: -192px -160px; width: 16px; height: 16px; } 
.silk-vcard{ background-position: -192px -192px; width: 16px; height: 16px; } 
.silk-vcard_add{ background-position: -192px -224px; width: 16px; height: 16px; } 
.silk-vcard_delete{ background-position: -192px -256px; width: 16px; height: 16px; } 
.silk-vcard_edit{ background-position: -192px -288px; width: 16px; height: 16px; } 
.silk-vector{ background-position: -192px -320px; width: 16px; height: 16px; } 
.silk-vector_add{ background-position: -192px -352px; width: 16px; height: 16px; } 
.silk-vector_delete{ background-position: -192px -384px; width: 16px; height: 16px; } 
.silk-wand{ background-position: -192px -416px; width: 16px; height: 16px; } 
.silk-weather_clouds{ background-position: -192px -448px; width: 16px; height: 16px; } 
.silk-weather_cloudy{ background-position: -192px -480px; width: 16px; height: 16px; } 
.silk-weather_lightning{ background-position: -192px -512px; width: 16px; height: 16px; } 
.silk-weather_rain{ background-position: -192px -544px; width: 16px; height: 16px; } 
.silk-weather_snow{ background-position: -192px -576px; width: 16px; height: 16px; } 
.silk-weather_sun{ background-position: -192px -608px; width: 16px; height: 16px; } 
.silk-webcam{ background-position: -192px -640px; width: 16px; height: 16px; } 
.silk-webcam_add{ background-position: -192px -672px; width: 16px; height: 16px; } 
.silk-webcam_delete{ background-position: -192px -704px; width: 16px; height: 16px; } 
.silk-webcam_error{ background-position: -192px -736px; width: 16px; height: 16px; } 
.silk-world{ background-position: -192px -768px; width: 16px; height: 16px; } 
.silk-world_add{ background-position: -192px -800px; width: 16px; height: 16px; } 
.silk-world_delete{ background-position: -192px -832px; width: 16px; height: 16px; } 
.silk-world_edit{ background-position: -192px -864px; width: 16px; height: 16px; } 
.silk-world_go{ background-position: -192px -896px; width: 16px; height: 16px; } 
.silk-world_link{ background-position: -192px -928px; width: 16px; height: 16px; } 
.silk-wrench{ background-position: -192px -960px; width: 16px; height: 16px; } 
.silk-wrench_orange{ background-position: -192px -992px; width: 16px; height: 16px; } 
.silk-xhtml{ background-position: -192px -1024px; width: 16px; height: 16px; } 
.silk-xhtml_add{ background-position: -192px -1056px; width: 16px; height: 16px; } 
.silk-xhtml_delete{ background-position: -192px -1088px; width: 16px; height: 16px; } 
.silk-xhtml_go{ background-position: -192px -1120px; width: 16px; height: 16px; } 
.silk-xhtml_valid{ background-position: -192px -1152px; width: 16px; height: 16px; } 
.silk-zoom{ background-position: -192px -1184px; width: 16px; height: 16px; } 
.silk-zoom_in{ background-position: -192px -1216px; width: 16px; height: 16px; } 
.silk-zoom_out{ background-position: -192px -1248px; width: 16px; height: 16px; } 
