.silk-accept{ background-position: 0 0; width: 16px; height: 16px; } 
.silk-add{ background-position: 0 -32px; width: 16px; height: 16px; } 
.silk-anchor{ background-position: 0 -64px; width: 16px; height: 16px; } 
.silk-application{ background-position: 0 -96px; width: 16px; height: 16px; } 
.silk-application_add{ background-position: 0 -128px; width: 16px; height: 16px; } 
.silk-application_cascade{ background-position: 0 -160px; width: 16px; height: 16px; } 
.silk-application_delete{ background-position: 0 -192px; width: 16px; height: 16px; } 
.silk-application_double{ background-position: 0 -224px; width: 16px; height: 16px; } 
.silk-application_edit{ background-position: 0 -256px; width: 16px; height: 16px; } 
.silk-application_error{ background-position: 0 -288px; width: 16px; height: 16px; } 
.silk-application_form{ background-position: 0 -320px; width: 16px; height: 16px; } 
.silk-application_form_add{ background-position: 0 -352px; width: 16px; height: 16px; } 
.silk-application_form_delete{ background-position: 0 -384px; width: 16px; height: 16px; } 
.silk-application_form_edit{ background-position: 0 -416px; width: 16px; height: 16px; } 
.silk-application_form_magnify{ background-position: 0 -448px; width: 16px; height: 16px; } 
.silk-application_get{ background-position: 0 -480px; width: 16px; height: 16px; } 
.silk-application_go{ background-position: 0 -512px; width: 16px; height: 16px; } 
.silk-application_home{ background-position: 0 -544px; width: 16px; height: 16px; } 
.silk-application_key{ background-position: 0 -576px; width: 16px; height: 16px; } 
.silk-application_lightning{ background-position: 0 -608px; width: 16px; height: 16px; } 
.silk-application_link{ background-position: 0 -640px; width: 16px; height: 16px; } 
.silk-application_osx{ background-position: 0 -672px; width: 16px; height: 16px; } 
.silk-application_osx_terminal{ background-position: 0 -704px; width: 16px; height: 16px; } 
.silk-application_put{ background-position: 0 -736px; width: 16px; height: 16px; } 
.silk-application_side_boxes{ background-position: 0 -768px; width: 16px; height: 16px; } 
.silk-application_side_contract{ background-position: 0 -800px; width: 16px; height: 16px; } 
.silk-application_side_expand{ background-position: 0 -832px; width: 16px; height: 16px; } 
.silk-application_side_list{ background-position: 0 -864px; width: 16px; height: 16px; } 
.silk-application_side_tree{ background-position: 0 -896px; width: 16px; height: 16px; } 
.silk-application_split{ background-position: 0 -928px; width: 16px; height: 16px; } 
.silk-application_tile_horizontal{ background-position: 0 -960px; width: 16px; height: 16px; } 
.silk-application_tile_vertical{ background-position: 0 -992px; width: 16px; height: 16px; } 
.silk-application_view_columns{ background-position: 0 -1024px; width: 16px; height: 16px; } 
.silk-application_view_detail{ background-position: 0 -1056px; width: 16px; height: 16px; } 
.silk-application_view_gallery{ background-position: 0 -1088px; width: 16px; height: 16px; } 
.silk-application_view_icons{ background-position: 0 -1120px; width: 16px; height: 16px; } 
.silk-application_view_list{ background-position: 0 -1152px; width: 16px; height: 16px; } 
.silk-application_view_tile{ background-position: 0 -1184px; width: 16px; height: 16px; } 
.silk-application_xp{ background-position: 0 -1216px; width: 16px; height: 16px; } 
.silk-application_xp_terminal{ background-position: 0 -1248px; width: 16px; height: 16px; } 
.silk-arrow_branch{ background-position: 0 -1280px; width: 16px; height: 16px; } 
.silk-arrow_divide{ background-position: 0 -1312px; width: 16px; height: 16px; } 
.silk-arrow_down{ background-position: 0 -1344px; width: 16px; height: 16px; } 
.silk-arrow_in{ background-position: 0 -1376px; width: 16px; height: 16px; } 
.silk-arrow_inout{ background-position: 0 -1408px; width: 16px; height: 16px; } 
.silk-arrow_join{ background-position: 0 -1440px; width: 16px; height: 16px; } 
.silk-arrow_left{ background-position: 0 -1472px; width: 16px; height: 16px; } 
.silk-arrow_merge{ background-position: 0 -1504px; width: 16px; height: 16px; } 
.silk-arrow_out{ background-position: 0 -1536px; width: 16px; height: 16px; } 
.silk-arrow_redo{ background-position: 0 -1568px; width: 16px; height: 16px; } 
.silk-arrow_refresh{ background-position: 0 -1600px; width: 16px; height: 16px; } 
.silk-arrow_refresh_small{ background-position: 0 -1632px; width: 16px; height: 16px; } 
.silk-arrow_right{ background-position: 0 -1664px; width: 16px; height: 16px; } 
.silk-arrow_rotate_anticlockwise{ background-position: 0 -1696px; width: 16px; height: 16px; } 
.silk-arrow_rotate_clockwise{ background-position: 0 -1728px; width: 16px; height: 16px; } 
.silk-arrow_switch{ background-position: 0 -1760px; width: 16px; height: 16px; } 
.silk-arrow_turn_left{ background-position: 0 -1792px; width: 16px; height: 16px; } 
.silk-arrow_turn_right{ background-position: 0 -1824px; width: 16px; height: 16px; } 
.silk-arrow_undo{ background-position: 0 -1856px; width: 16px; height: 16px; } 
.silk-arrow_up{ background-position: 0 -1888px; width: 16px; height: 16px; } 
.silk-asterisk_orange{ background-position: 0 -1920px; width: 16px; height: 16px; } 
.silk-asterisk_yellow{ background-position: 0 -1952px; width: 16px; height: 16px; } 
.silk-attach{ background-position: -32px 0; width: 16px; height: 16px; } 
.silk-award_star_add{ background-position: -32px -32px; width: 16px; height: 16px; } 
.silk-award_star_bronze_1{ background-position: -32px -64px; width: 16px; height: 16px; } 
.silk-award_star_bronze_2{ background-position: -32px -96px; width: 16px; height: 16px; } 
.silk-award_star_bronze_3{ background-position: -32px -128px; width: 16px; height: 16px; } 
.silk-award_star_delete{ background-position: -32px -160px; width: 16px; height: 16px; } 
.silk-award_star_gold_1{ background-position: -32px -192px; width: 16px; height: 16px; } 
.silk-award_star_gold_2{ background-position: -32px -224px; width: 16px; height: 16px; } 
.silk-award_star_gold_3{ background-position: -32px -256px; width: 16px; height: 16px; } 
.silk-award_star_silver_1{ background-position: -32px -288px; width: 16px; height: 16px; } 
.silk-award_star_silver_2{ background-position: -32px -320px; width: 16px; height: 16px; } 
.silk-award_star_silver_3{ background-position: -32px -352px; width: 16px; height: 16px; } 
.silk-basket{ background-position: -32px -384px; width: 16px; height: 16px; } 
.silk-basket_add{ background-position: -32px -416px; width: 16px; height: 16px; } 
.silk-basket_delete{ background-position: -32px -448px; width: 16px; height: 16px; } 
.silk-basket_edit{ background-position: -32px -480px; width: 16px; height: 16px; } 
.silk-basket_error{ background-position: -32px -512px; width: 16px; height: 16px; } 
.silk-basket_go{ background-position: -32px -544px; width: 16px; height: 16px; } 
.silk-basket_put{ background-position: -32px -576px; width: 16px; height: 16px; } 
.silk-basket_remove{ background-position: -32px -608px; width: 16px; height: 16px; } 
.silk-bell{ background-position: -32px -640px; width: 16px; height: 16px; } 
.silk-bell_add{ background-position: -32px -672px; width: 16px; height: 16px; } 
.silk-bell_delete{ background-position: -32px -704px; width: 16px; height: 16px; } 
.silk-bell_error{ background-position: -32px -736px; width: 16px; height: 16px; } 
.silk-bell_go{ background-position: -32px -768px; width: 16px; height: 16px; } 
.silk-bell_link{ background-position: -32px -800px; width: 16px; height: 16px; } 
.silk-bin{ background-position: -32px -832px; width: 16px; height: 16px; } 
.silk-bin_closed{ background-position: -32px -864px; width: 16px; height: 16px; } 
.silk-bin_empty{ background-position: -32px -896px; width: 16px; height: 16px; } 
.silk-bomb{ background-position: -32px -928px; width: 16px; height: 16px; } 
.silk-book{ background-position: -32px -960px; width: 16px; height: 16px; } 
.silk-book_add{ background-position: -32px -992px; width: 16px; height: 16px; } 
.silk-book_addresses{ background-position: -32px -1024px; width: 16px; height: 16px; } 
.silk-book_delete{ background-position: -32px -1056px; width: 16px; height: 16px; } 
.silk-book_edit{ background-position: -32px -1088px; width: 16px; height: 16px; } 
.silk-book_error{ background-position: -32px -1120px; width: 16px; height: 16px; } 
.silk-book_go{ background-position: -32px -1152px; width: 16px; height: 16px; } 
.silk-book_key{ background-position: -32px -1184px; width: 16px; height: 16px; } 
.silk-book_link{ background-position: -32px -1216px; width: 16px; height: 16px; } 
.silk-book_next{ background-position: -32px -1248px; width: 16px; height: 16px; } 
.silk-book_open{ background-position: -32px -1280px; width: 16px; height: 16px; } 
.silk-book_previous{ background-position: -32px -1312px; width: 16px; height: 16px; } 
.silk-box{ background-position: -32px -1344px; width: 16px; height: 16px; } 
.silk-brick{ background-position: -32px -1376px; width: 16px; height: 16px; } 
.silk-brick_add{ background-position: -32px -1408px; width: 16px; height: 16px; } 
.silk-brick_delete{ background-position: -32px -1440px; width: 16px; height: 16px; } 
.silk-brick_edit{ background-position: -32px -1472px; width: 16px; height: 16px; } 
.silk-brick_error{ background-position: -32px -1504px; width: 16px; height: 16px; } 
.silk-brick_go{ background-position: -32px -1536px; width: 16px; height: 16px; } 
.silk-brick_link{ background-position: -32px -1568px; width: 16px; height: 16px; } 
.silk-bricks{ background-position: -32px -1600px; width: 16px; height: 16px; } 
.silk-briefcase{ background-position: -32px -1632px; width: 16px; height: 16px; } 
.silk-bug{ background-position: -32px -1664px; width: 16px; height: 16px; } 
.silk-bug_add{ background-position: -32px -1696px; width: 16px; height: 16px; } 
.silk-bug_delete{ background-position: -32px -1728px; width: 16px; height: 16px; } 
.silk-bug_edit{ background-position: -32px -1760px; width: 16px; height: 16px; } 
.silk-bug_error{ background-position: -32px -1792px; width: 16px; height: 16px; } 
.silk-bug_go{ background-position: -32px -1824px; width: 16px; height: 16px; } 
.silk-bug_link{ background-position: -32px -1856px; width: 16px; height: 16px; } 
.silk-building{ background-position: -32px -1888px; width: 16px; height: 16px; } 
.silk-building_add{ background-position: -32px -1920px; width: 16px; height: 16px; } 
.silk-building_delete{ background-position: -32px -1952px; width: 16px; height: 16px; } 
.silk-building_edit{ background-position: -64px 0; width: 16px; height: 16px; } 
.silk-building_error{ background-position: -64px -32px; width: 16px; height: 16px; } 
.silk-building_go{ background-position: -64px -64px; width: 16px; height: 16px; } 
.silk-building_key{ background-position: -64px -96px; width: 16px; height: 16px; } 
.silk-building_link{ background-position: -64px -128px; width: 16px; height: 16px; } 
.silk-bullet_add{ background-position: -64px -160px; width: 16px; height: 16px; } 
.silk-bullet_arrow_bottom{ background-position: -64px -192px; width: 16px; height: 16px; } 
.silk-bullet_arrow_down{ background-position: -64px -224px; width: 16px; height: 16px; } 
.silk-bullet_arrow_top{ background-position: -64px -256px; width: 16px; height: 16px; } 
.silk-bullet_arrow_up{ background-position: -64px -288px; width: 16px; height: 16px; } 
.silk-bullet_black{ background-position: -64px -320px; width: 16px; height: 16px; } 
.silk-bullet_blue{ background-position: -64px -352px; width: 16px; height: 16px; } 
.silk-bullet_delete{ background-position: -64px -384px; width: 16px; height: 16px; } 
.silk-bullet_disk{ background-position: -64px -416px; width: 16px; height: 16px; } 
.silk-bullet_error{ background-position: -64px -448px; width: 16px; height: 16px; } 
.silk-bullet_feed{ background-position: -64px -480px; width: 16px; height: 16px; } 
.silk-bullet_go{ background-position: -64px -512px; width: 16px; height: 16px; } 
.silk-bullet_green{ background-position: -64px -544px; width: 16px; height: 16px; } 
.silk-bullet_key{ background-position: -64px -576px; width: 16px; height: 16px; } 
.silk-bullet_orange{ background-position: -64px -608px; width: 16px; height: 16px; } 
.silk-bullet_picture{ background-position: -64px -640px; width: 16px; height: 16px; } 
.silk-bullet_pink{ background-position: -64px -672px; width: 16px; height: 16px; } 
.silk-bullet_purple{ background-position: -64px -704px; width: 16px; height: 16px; } 
.silk-bullet_red{ background-position: -64px -736px; width: 16px; height: 16px; } 
.silk-bullet_star{ background-position: -64px -768px; width: 16px; height: 16px; } 
.silk-bullet_toggle_minus{ background-position: -64px -800px; width: 16px; height: 16px; } 
.silk-bullet_toggle_plus{ background-position: -64px -832px; width: 16px; height: 16px; } 
.silk-bullet_white{ background-position: -64px -864px; width: 16px; height: 16px; } 
.silk-bullet_wrench{ background-position: -64px -896px; width: 16px; height: 16px; } 
.silk-bullet_yellow{ background-position: -64px -928px; width: 16px; height: 16px; } 
.silk-cake{ background-position: -64px -960px; width: 16px; height: 16px; } 
.silk-calculator{ background-position: -64px -992px; width: 16px; height: 16px; } 
.silk-calculator_add{ background-position: -64px -1024px; width: 16px; height: 16px; } 
.silk-calculator_delete{ background-position: -64px -1056px; width: 16px; height: 16px; } 
.silk-calculator_edit{ background-position: -64px -1088px; width: 16px; height: 16px; } 
.silk-calculator_error{ background-position: -64px -1120px; width: 16px; height: 16px; } 
.silk-calculator_link{ background-position: -64px -1152px; width: 16px; height: 16px; } 
.silk-calendar{ background-position: -64px -1184px; width: 16px; height: 16px; } 
.silk-calendar_add{ background-position: -64px -1216px; width: 16px; height: 16px; } 
.silk-calendar_delete{ background-position: -64px -1248px; width: 16px; height: 16px; } 
.silk-calendar_edit{ background-position: -64px -1280px; width: 16px; height: 16px; } 
.silk-calendar_link{ background-position: -64px -1312px; width: 16px; height: 16px; } 
.silk-calendar_view_day{ background-position: -64px -1344px; width: 16px; height: 16px; } 
.silk-calendar_view_month{ background-position: -64px -1376px; width: 16px; height: 16px; } 
.silk-calendar_view_week{ background-position: -64px -1408px; width: 16px; height: 16px; } 
.silk-camera{ background-position: -64px -1440px; width: 16px; height: 16px; } 
.silk-camera_add{ background-position: -64px -1472px; width: 16px; height: 16px; } 
.silk-camera_delete{ background-position: -64px -1504px; width: 16px; height: 16px; } 
.silk-camera_edit{ background-position: -64px -1536px; width: 16px; height: 16px; } 
.silk-camera_error{ background-position: -64px -1568px; width: 16px; height: 16px; } 
.silk-camera_go{ background-position: -64px -1600px; width: 16px; height: 16px; } 
.silk-camera_link{ background-position: -64px -1632px; width: 16px; height: 16px; } 
.silk-camera_small{ background-position: -64px -1664px; width: 16px; height: 16px; } 
.silk-cancel{ background-position: -64px -1696px; width: 16px; height: 16px; } 
.silk-car{ background-position: -64px -1728px; width: 16px; height: 16px; } 
.silk-car_add{ background-position: -64px -1760px; width: 16px; height: 16px; } 
.silk-car_delete{ background-position: -64px -1792px; width: 16px; height: 16px; } 
.silk-cart{ background-position: -64px -1824px; width: 16px; height: 16px; } 
.silk-cart_add{ background-position: -64px -1856px; width: 16px; height: 16px; } 
.silk-cart_delete{ background-position: -64px -1888px; width: 16px; height: 16px; } 
.silk-cart_edit{ background-position: -64px -1920px; width: 16px; height: 16px; } 
.silk-cart_error{ background-position: -64px -1952px; width: 16px; height: 16px; } 
.silk-cart_go{ background-position: -96px 0; width: 16px; height: 16px; } 
.silk-cart_put{ background-position: -96px -32px; width: 16px; height: 16px; } 
.silk-cart_remove{ background-position: -96px -64px; width: 16px; height: 16px; } 
.silk-cd{ background-position: -96px -96px; width: 16px; height: 16px; } 
.silk-cd_add{ background-position: -96px -128px; width: 16px; height: 16px; } 
.silk-cd_burn{ background-position: -96px -160px; width: 16px; height: 16px; } 
.silk-cd_delete{ background-position: -96px -192px; width: 16px; height: 16px; } 
.silk-cd_edit{ background-position: -96px -224px; width: 16px; height: 16px; } 
.silk-cd_eject{ background-position: -96px -256px; width: 16px; height: 16px; } 
.silk-cd_go{ background-position: -96px -288px; width: 16px; height: 16px; } 
.silk-chart_bar{ background-position: -96px -320px; width: 16px; height: 16px; } 
.silk-chart_bar_add{ background-position: -96px -352px; width: 16px; height: 16px; } 
.silk-chart_bar_delete{ background-position: -96px -384px; width: 16px; height: 16px; } 
.silk-chart_bar_edit{ background-position: -96px -416px; width: 16px; height: 16px; } 
.silk-chart_bar_error{ background-position: -96px -448px; width: 16px; height: 16px; } 
.silk-chart_bar_link{ background-position: -96px -480px; width: 16px; height: 16px; } 
.silk-chart_curve{ background-position: -96px -512px; width: 16px; height: 16px; } 
.silk-chart_curve_add{ background-position: -96px -544px; width: 16px; height: 16px; } 
.silk-chart_curve_delete{ background-position: -96px -576px; width: 16px; height: 16px; } 
.silk-chart_curve_edit{ background-position: -96px -608px; width: 16px; height: 16px; } 
.silk-chart_curve_error{ background-position: -96px -640px; width: 16px; height: 16px; } 
.silk-chart_curve_go{ background-position: -96px -672px; width: 16px; height: 16px; } 
.silk-chart_curve_link{ background-position: -96px -704px; width: 16px; height: 16px; } 
.silk-chart_line{ background-position: -96px -736px; width: 16px; height: 16px; } 
.silk-chart_line_add{ background-position: -96px -768px; width: 16px; height: 16px; } 
.silk-chart_line_delete{ background-position: -96px -800px; width: 16px; height: 16px; } 
.silk-chart_line_edit{ background-position: -96px -832px; width: 16px; height: 16px; } 
.silk-chart_line_error{ background-position: -96px -864px; width: 16px; height: 16px; } 
.silk-chart_line_link{ background-position: -96px -896px; width: 16px; height: 16px; } 
.silk-chart_organisation{ background-position: -96px -928px; width: 16px; height: 16px; } 
.silk-chart_organisation_add{ background-position: -96px -960px; width: 16px; height: 16px; } 
.silk-chart_organisation_delete{ background-position: -96px -992px; width: 16px; height: 16px; } 
.silk-chart_pie{ background-position: -96px -1024px; width: 16px; height: 16px; } 
.silk-chart_pie_add{ background-position: -96px -1056px; width: 16px; height: 16px; } 
.silk-chart_pie_delete{ background-position: -96px -1088px; width: 16px; height: 16px; } 
.silk-chart_pie_edit{ background-position: -96px -1120px; width: 16px; height: 16px; } 
.silk-chart_pie_error{ background-position: -96px -1152px; width: 16px; height: 16px; } 
.silk-chart_pie_link{ background-position: -96px -1184px; width: 16px; height: 16px; } 
.silk-clock{ background-position: -96px -1216px; width: 16px; height: 16px; } 
.silk-clock_add{ background-position: -96px -1248px; width: 16px; height: 16px; } 
.silk-clock_delete{ background-position: -96px -1280px; width: 16px; height: 16px; } 
.silk-clock_edit{ background-position: -96px -1312px; width: 16px; height: 16px; } 
.silk-clock_error{ background-position: -96px -1344px; width: 16px; height: 16px; } 
.silk-clock_go{ background-position: -96px -1376px; width: 16px; height: 16px; } 
.silk-clock_link{ background-position: -96px -1408px; width: 16px; height: 16px; } 
.silk-clock_pause{ background-position: -96px -1440px; width: 16px; height: 16px; } 
.silk-clock_play{ background-position: -96px -1472px; width: 16px; height: 16px; } 
.silk-clock_red{ background-position: -96px -1504px; width: 16px; height: 16px; } 
.silk-clock_stop{ background-position: -96px -1536px; width: 16px; height: 16px; } 
.silk-cog{ background-position: -96px -1568px; width: 16px; height: 16px; } 
.silk-cog_add{ background-position: -96px -1600px; width: 16px; height: 16px; } 
.silk-cog_delete{ background-position: -96px -1632px; width: 16px; height: 16px; } 
.silk-cog_edit{ background-position: -96px -1664px; width: 16px; height: 16px; } 
.silk-cog_error{ background-position: -96px -1696px; width: 16px; height: 16px; } 
.silk-cog_go{ background-position: -96px -1728px; width: 16px; height: 16px; } 
.silk-coins{ background-position: -96px -1760px; width: 16px; height: 16px; } 
.silk-coins_add{ background-position: -96px -1792px; width: 16px; height: 16px; } 
.silk-coins_delete{ background-position: -96px -1824px; width: 16px; height: 16px; } 
.silk-color_swatch{ background-position: -96px -1856px; width: 16px; height: 16px; } 
.silk-color_wheel{ background-position: -96px -1888px; width: 16px; height: 16px; } 
.silk-comment{ background-position: -96px -1920px; width: 16px; height: 16px; } 
.silk-comment_add{ background-position: -96px -1952px; width: 16px; height: 16px; } 
.silk-comment_delete{ background-position: -128px 0; width: 16px; height: 16px; } 
.silk-comment_edit{ background-position: -128px -32px; width: 16px; height: 16px; } 
.silk-comments{ background-position: -128px -64px; width: 16px; height: 16px; } 
.silk-comments_add{ background-position: -128px -96px; width: 16px; height: 16px; } 
.silk-comments_delete{ background-position: -128px -128px; width: 16px; height: 16px; } 
.silk-compress{ background-position: -128px -160px; width: 16px; height: 16px; } 
.silk-computer{ background-position: -128px -192px; width: 16px; height: 16px; } 
.silk-computer_add{ background-position: -128px -224px; width: 16px; height: 16px; } 
.silk-computer_delete{ background-position: -128px -256px; width: 16px; height: 16px; } 
.silk-computer_edit{ background-position: -128px -288px; width: 16px; height: 16px; } 
.silk-computer_error{ background-position: -128px -320px; width: 16px; height: 16px; } 
.silk-computer_go{ background-position: -128px -352px; width: 16px; height: 16px; } 
.silk-computer_key{ background-position: -128px -384px; width: 16px; height: 16px; } 
.silk-computer_link{ background-position: -128px -416px; width: 16px; height: 16px; } 
.silk-connect{ background-position: -128px -448px; width: 16px; height: 16px; } 
.silk-contrast{ background-position: -128px -480px; width: 16px; height: 16px; } 
.silk-contrast_decrease{ background-position: -128px -512px; width: 16px; height: 16px; } 
.silk-contrast_high{ background-position: -128px -544px; width: 16px; height: 16px; } 
.silk-contrast_increase{ background-position: -128px -576px; width: 16px; height: 16px; } 
.silk-contrast_low{ background-position: -128px -608px; width: 16px; height: 16px; } 
.silk-control_eject{ background-position: -128px -640px; width: 16px; height: 16px; } 
.silk-control_eject_blue{ background-position: -128px -672px; width: 16px; height: 16px; } 
.silk-control_end{ background-position: -128px -704px; width: 16px; height: 16px; } 
.silk-control_end_blue{ background-position: -128px -736px; width: 16px; height: 16px; } 
.silk-control_equalizer{ background-position: -128px -768px; width: 16px; height: 16px; } 
.silk-control_equalizer_blue{ background-position: -128px -800px; width: 16px; height: 16px; } 
.silk-control_fastforward{ background-position: -128px -832px; width: 16px; height: 16px; } 
.silk-control_fastforward_blue{ background-position: -128px -864px; width: 16px; height: 16px; } 
.silk-control_pause{ background-position: -128px -896px; width: 16px; height: 16px; } 
.silk-control_pause_blue{ background-position: -128px -928px; width: 16px; height: 16px; } 
.silk-control_play{ background-position: -128px -960px; width: 16px; height: 16px; } 
.silk-control_play_blue{ background-position: -128px -992px; width: 16px; height: 16px; } 
.silk-control_repeat{ background-position: -128px -1024px; width: 16px; height: 16px; } 
.silk-control_repeat_blue{ background-position: -128px -1056px; width: 16px; height: 16px; } 
.silk-control_rewind{ background-position: -128px -1088px; width: 16px; height: 16px; } 
.silk-control_rewind_blue{ background-position: -128px -1120px; width: 16px; height: 16px; } 
.silk-control_start{ background-position: -128px -1152px; width: 16px; height: 16px; } 
.silk-control_start_blue{ background-position: -128px -1184px; width: 16px; height: 16px; } 
.silk-control_stop{ background-position: -128px -1216px; width: 16px; height: 16px; } 
.silk-control_stop_blue{ background-position: -128px -1248px; width: 16px; height: 16px; } 
.silk-controller{ background-position: -128px -1280px; width: 16px; height: 16px; } 
.silk-controller_add{ background-position: -128px -1312px; width: 16px; height: 16px; } 
.silk-controller_delete{ background-position: -128px -1344px; width: 16px; height: 16px; } 
.silk-controller_error{ background-position: -128px -1376px; width: 16px; height: 16px; } 
.silk-creditcards{ background-position: -128px -1408px; width: 16px; height: 16px; } 
.silk-cross{ background-position: -128px -1440px; width: 16px; height: 16px; } 
.silk-css{ background-position: -128px -1472px; width: 16px; height: 16px; } 
.silk-css_add{ background-position: -128px -1504px; width: 16px; height: 16px; } 
.silk-css_delete{ background-position: -128px -1536px; width: 16px; height: 16px; } 
.silk-css_go{ background-position: -128px -1568px; width: 16px; height: 16px; } 
.silk-css_valid{ background-position: -128px -1600px; width: 16px; height: 16px; } 
.silk-cup{ background-position: -128px -1632px; width: 16px; height: 16px; } 
.silk-cup_add{ background-position: -128px -1664px; width: 16px; height: 16px; } 
.silk-cup_delete{ background-position: -128px -1696px; width: 16px; height: 16px; } 
.silk-cup_edit{ background-position: -128px -1728px; width: 16px; height: 16px; } 
.silk-cup_error{ background-position: -128px -1760px; width: 16px; height: 16px; } 
.silk-cup_go{ background-position: -128px -1792px; width: 16px; height: 16px; } 
.silk-cup_key{ background-position: -128px -1824px; width: 16px; height: 16px; } 
.silk-cup_link{ background-position: -128px -1856px; width: 16px; height: 16px; } 
.silk-cursor{ background-position: -128px -1888px; width: 16px; height: 16px; } 
.silk-cut{ background-position: -128px -1920px; width: 16px; height: 16px; } 
.silk-cut_red{ background-position: -128px -1952px; width: 16px; height: 16px; } 
.silk-database{ background-position: -160px 0; width: 16px; height: 16px; } 
.silk-database_add{ background-position: -160px -32px; width: 16px; height: 16px; } 
.silk-database_connect{ background-position: -160px -64px; width: 16px; height: 16px; } 
.silk-database_delete{ background-position: -160px -96px; width: 16px; height: 16px; } 
.silk-database_edit{ background-position: -160px -128px; width: 16px; height: 16px; } 
.silk-database_error{ background-position: -160px -160px; width: 16px; height: 16px; } 
.silk-database_gear{ background-position: -160px -192px; width: 16px; height: 16px; } 
.silk-database_go{ background-position: -160px -224px; width: 16px; height: 16px; } 
.silk-database_key{ background-position: -160px -256px; width: 16px; height: 16px; } 
.silk-database_lightning{ background-position: -160px -288px; width: 16px; height: 16px; } 
.silk-database_link{ background-position: -160px -320px; width: 16px; height: 16px; } 
.silk-database_refresh{ background-position: -160px -352px; width: 16px; height: 16px; } 
.silk-database_save{ background-position: -160px -384px; width: 16px; height: 16px; } 
.silk-database_table{ background-position: -160px -416px; width: 16px; height: 16px; } 
.silk-date{ background-position: -160px -448px; width: 16px; height: 16px; } 
.silk-date_add{ background-position: -160px -480px; width: 16px; height: 16px; } 
.silk-date_delete{ background-position: -160px -512px; width: 16px; height: 16px; } 
.silk-date_edit{ background-position: -160px -544px; width: 16px; height: 16px; } 
.silk-date_error{ background-position: -160px -576px; width: 16px; height: 16px; } 
.silk-date_go{ background-position: -160px -608px; width: 16px; height: 16px; } 
.silk-date_link{ background-position: -160px -640px; width: 16px; height: 16px; } 
.silk-date_magnify{ background-position: -160px -672px; width: 16px; height: 16px; } 
.silk-date_next{ background-position: -160px -704px; width: 16px; height: 16px; } 
.silk-date_previous{ background-position: -160px -736px; width: 16px; height: 16px; } 
.silk-delete{ background-position: -160px -768px; width: 16px; height: 16px; } 
.silk-disconnect{ background-position: -160px -800px; width: 16px; height: 16px; } 
.silk-disk{ background-position: -160px -832px; width: 16px; height: 16px; } 
.silk-disk_multiple{ background-position: -160px -864px; width: 16px; height: 16px; } 
.silk-door{ background-position: -160px -896px; width: 16px; height: 16px; } 
.silk-door_in{ background-position: -160px -928px; width: 16px; height: 16px; } 
.silk-door_open{ background-position: -160px -960px; width: 16px; height: 16px; } 
.silk-door_out{ background-position: -160px -992px; width: 16px; height: 16px; } 
.silk-drink{ background-position: -160px -1024px; width: 16px; height: 16px; } 
.silk-drink_empty{ background-position: -160px -1056px; width: 16px; height: 16px; } 
.silk-drive{ background-position: -160px -1088px; width: 16px; height: 16px; } 
.silk-drive_add{ background-position: -160px -1120px; width: 16px; height: 16px; } 
.silk-drive_burn{ background-position: -160px -1152px; width: 16px; height: 16px; } 
.silk-drive_cd{ background-position: -160px -1184px; width: 16px; height: 16px; } 
.silk-drive_cd_empty{ background-position: -160px -1216px; width: 16px; height: 16px; } 
.silk-drive_delete{ background-position: -160px -1248px; width: 16px; height: 16px; } 
.silk-drive_disk{ background-position: -160px -1280px; width: 16px; height: 16px; } 
.silk-drive_edit{ background-position: -160px -1312px; width: 16px; height: 16px; } 
.silk-drive_error{ background-position: -160px -1344px; width: 16px; height: 16px; } 
.silk-drive_go{ background-position: -160px -1376px; width: 16px; height: 16px; } 
.silk-drive_key{ background-position: -160px -1408px; width: 16px; height: 16px; } 
.silk-drive_link{ background-position: -160px -1440px; width: 16px; height: 16px; } 
.silk-drive_magnify{ background-position: -160px -1472px; width: 16px; height: 16px; } 
.silk-drive_network{ background-position: -160px -1504px; width: 16px; height: 16px; } 
.silk-drive_rename{ background-position: -160px -1536px; width: 16px; height: 16px; } 
.silk-drive_user{ background-position: -160px -1568px; width: 16px; height: 16px; } 
.silk-drive_web{ background-position: -160px -1600px; width: 16px; height: 16px; } 
.silk-dvd{ background-position: -160px -1632px; width: 16px; height: 16px; } 
.silk-dvd_add{ background-position: -160px -1664px; width: 16px; height: 16px; } 
.silk-dvd_delete{ background-position: -160px -1696px; width: 16px; height: 16px; } 
.silk-dvd_edit{ background-position: -160px -1728px; width: 16px; height: 16px; } 
.silk-dvd_error{ background-position: -160px -1760px; width: 16px; height: 16px; } 
.silk-dvd_go{ background-position: -160px -1792px; width: 16px; height: 16px; } 
.silk-dvd_key{ background-position: -160px -1824px; width: 16px; height: 16px; } 
.silk-dvd_link{ background-position: -160px -1856px; width: 16px; height: 16px; } 
.silk-email{ background-position: -160px -1888px; width: 16px; height: 16px; } 
.silk-email_add{ background-position: -160px -1920px; width: 16px; height: 16px; } 
.silk-email_attach{ background-position: -160px -1952px; width: 16px; height: 16px; } 
.silk-email_delete{ background-position: -192px 0; width: 16px; height: 16px; } 
.silk-email_edit{ background-position: -192px -32px; width: 16px; height: 16px; } 
.silk-email_error{ background-position: -192px -64px; width: 16px; height: 16px; } 
.silk-email_go{ background-position: -192px -96px; width: 16px; height: 16px; } 
.silk-email_link{ background-position: -192px -128px; width: 16px; height: 16px; } 
.silk-email_open{ background-position: -192px -160px; width: 16px; height: 16px; } 
.silk-email_open_image{ background-position: -192px -192px; width: 16px; height: 16px; } 
.silk-emoticon_evilgrin{ background-position: -192px -224px; width: 16px; height: 16px; } 
.silk-emoticon_grin{ background-position: -192px -256px; width: 16px; height: 16px; } 
.silk-emoticon_happy{ background-position: -192px -288px; width: 16px; height: 16px; } 
.silk-emoticon_smile{ background-position: -192px -320px; width: 16px; height: 16px; } 
.silk-emoticon_surprised{ background-position: -192px -352px; width: 16px; height: 16px; } 
.silk-emoticon_tongue{ background-position: -192px -384px; width: 16px; height: 16px; } 
.silk-emoticon_unhappy{ background-position: -192px -416px; width: 16px; height: 16px; } 
.silk-emoticon_waii{ background-position: -192px -448px; width: 16px; height: 16px; } 
.silk-emoticon_wink{ background-position: -192px -480px; width: 16px; height: 16px; } 
.silk-error{ background-position: -192px -512px; width: 16px; height: 16px; } 
.silk-error_add{ background-position: -192px -544px; width: 16px; height: 16px; } 
.silk-error_delete{ background-position: -192px -576px; width: 16px; height: 16px; } 
.silk-error_go{ background-position: -192px -608px; width: 16px; height: 16px; } 
.silk-exclamation{ background-position: -192px -640px; width: 16px; height: 16px; } 
.silk-eye{ background-position: -192px -672px; width: 16px; height: 16px; } 
.silk-feed{ background-position: -192px -704px; width: 16px; height: 16px; } 
.silk-feed_add{ background-position: -192px -736px; width: 16px; height: 16px; } 
.silk-feed_delete{ background-position: -192px -768px; width: 16px; height: 16px; } 
.silk-feed_disk{ background-position: -192px -800px; width: 16px; height: 16px; } 
.silk-feed_edit{ background-position: -192px -832px; width: 16px; height: 16px; } 
.silk-feed_error{ background-position: -192px -864px; width: 16px; height: 16px; } 
.silk-feed_go{ background-position: -192px -896px; width: 16px; height: 16px; } 
.silk-feed_key{ background-position: -192px -928px; width: 16px; height: 16px; } 
.silk-feed_link{ background-position: -192px -960px; width: 16px; height: 16px; } 
.silk-feed_magnify{ background-position: -192px -992px; width: 16px; height: 16px; } 
.silk-female{ background-position: -192px -1024px; width: 16px; height: 16px; } 
.silk-film{ background-position: -192px -1056px; width: 16px; height: 16px; } 
.silk-film_add{ background-position: -192px -1088px; width: 16px; height: 16px; } 
.silk-film_delete{ background-position: -192px -1120px; width: 16px; height: 16px; } 
.silk-film_edit{ background-position: -192px -1152px; width: 16px; height: 16px; } 
.silk-film_error{ background-position: -192px -1184px; width: 16px; height: 16px; } 
.silk-film_go{ background-position: -192px -1216px; width: 16px; height: 16px; } 
.silk-film_key{ background-position: -192px -1248px; width: 16px; height: 16px; } 
.silk-film_link{ background-position: -192px -1280px; width: 16px; height: 16px; } 
.silk-film_save{ background-position: -192px -1312px; width: 16px; height: 16px; } 
.silk-find{ background-position: -192px -1344px; width: 16px; height: 16px; } 
.silk-flag_blue{ background-position: -192px -1376px; width: 16px; height: 16px; } 
.silk-flag_green{ background-position: -192px -1408px; width: 16px; height: 16px; } 
.silk-flag_orange{ background-position: -192px -1440px; width: 16px; height: 16px; } 
.silk-flag_pink{ background-position: -192px -1472px; width: 16px; height: 16px; } 
.silk-flag_purple{ background-position: -192px -1504px; width: 16px; height: 16px; } 
.silk-flag_red{ background-position: -192px -1536px; width: 16px; height: 16px; } 
.silk-flag_yellow{ background-position: -192px -1568px; width: 16px; height: 16px; } 
.silk-folder{ background-position: -192px -1600px; width: 16px; height: 16px; } 
.silk-folder_add{ background-position: -192px -1632px; width: 16px; height: 16px; } 
.silk-folder_bell{ background-position: -192px -1664px; width: 16px; height: 16px; } 
.silk-folder_brick{ background-position: -192px -1696px; width: 16px; height: 16px; } 
.silk-folder_bug{ background-position: -192px -1728px; width: 16px; height: 16px; } 
.silk-folder_camera{ background-position: -192px -1760px; width: 16px; height: 16px; } 
.silk-folder_database{ background-position: -192px -1792px; width: 16px; height: 16px; } 
.silk-folder_delete{ background-position: -192px -1824px; width: 16px; height: 16px; } 
.silk-folder_edit{ background-position: -192px -1856px; width: 16px; height: 16px; } 
.silk-folder_error{ background-position: -192px -1888px; width: 16px; height: 16px; } 
.silk-folder_explore{ background-position: -192px -1920px; width: 16px; height: 16px; } 
.silk-folder_feed{ background-position: -192px -1952px; width: 16px; height: 16px; } 
.silk-folder_find{ background-position: -224px 0; width: 16px; height: 16px; } 
.silk-folder_go{ background-position: -224px -32px; width: 16px; height: 16px; } 
.silk-folder_heart{ background-position: -224px -64px; width: 16px; height: 16px; } 
.silk-folder_image{ background-position: -224px -96px; width: 16px; height: 16px; } 
.silk-folder_key{ background-position: -224px -128px; width: 16px; height: 16px; } 
.silk-folder_lightbulb{ background-position: -224px -160px; width: 16px; height: 16px; } 
.silk-folder_link{ background-position: -224px -192px; width: 16px; height: 16px; } 
.silk-folder_magnify{ background-position: -224px -224px; width: 16px; height: 16px; } 
.silk-folder_page{ background-position: -224px -256px; width: 16px; height: 16px; } 
.silk-folder_page_white{ background-position: -224px -288px; width: 16px; height: 16px; } 
.silk-folder_palette{ background-position: -224px -320px; width: 16px; height: 16px; } 
.silk-folder_picture{ background-position: -224px -352px; width: 16px; height: 16px; } 
.silk-folder_star{ background-position: -224px -384px; width: 16px; height: 16px; } 
.silk-folder_table{ background-position: -224px -416px; width: 16px; height: 16px; } 
.silk-folder_user{ background-position: -224px -448px; width: 16px; height: 16px; } 
.silk-folder_wrench{ background-position: -224px -480px; width: 16px; height: 16px; } 
.silk-font{ background-position: -224px -512px; width: 16px; height: 16px; } 
.silk-font_add{ background-position: -224px -544px; width: 16px; height: 16px; } 
.silk-font_delete{ background-position: -224px -576px; width: 16px; height: 16px; } 
.silk-font_go{ background-position: -224px -608px; width: 16px; height: 16px; } 
.silk-group{ background-position: -224px -640px; width: 16px; height: 16px; } 
.silk-group_add{ background-position: -224px -672px; width: 16px; height: 16px; } 
.silk-group_delete{ background-position: -224px -704px; width: 16px; height: 16px; } 
.silk-group_edit{ background-position: -224px -736px; width: 16px; height: 16px; } 
.silk-group_error{ background-position: -224px -768px; width: 16px; height: 16px; } 
.silk-group_gear{ background-position: -224px -800px; width: 16px; height: 16px; } 
.silk-group_go{ background-position: -224px -832px; width: 16px; height: 16px; } 
.silk-group_key{ background-position: -224px -864px; width: 16px; height: 16px; } 
.silk-group_link{ background-position: -224px -896px; width: 16px; height: 16px; } 
.silk-heart{ background-position: -224px -928px; width: 16px; height: 16px; } 
.silk-heart_add{ background-position: -224px -960px; width: 16px; height: 16px; } 
.silk-heart_delete{ background-position: -224px -992px; width: 16px; height: 16px; } 
.silk-help{ background-position: -224px -1024px; width: 16px; height: 16px; } 
.silk-hourglass{ background-position: -224px -1056px; width: 16px; height: 16px; } 
.silk-hourglass_add{ background-position: -224px -1088px; width: 16px; height: 16px; } 
.silk-hourglass_delete{ background-position: -224px -1120px; width: 16px; height: 16px; } 
.silk-hourglass_go{ background-position: -224px -1152px; width: 16px; height: 16px; } 
.silk-hourglass_link{ background-position: -224px -1184px; width: 16px; height: 16px; } 
.silk-house{ background-position: -224px -1216px; width: 16px; height: 16px; } 
.silk-house_go{ background-position: -224px -1248px; width: 16px; height: 16px; } 
.silk-house_link{ background-position: -224px -1280px; width: 16px; height: 16px; } 
.silk-html{ background-position: -224px -1312px; width: 16px; height: 16px; } 
.silk-html_add{ background-position: -224px -1344px; width: 16px; height: 16px; } 
.silk-html_delete{ background-position: -224px -1376px; width: 16px; height: 16px; } 
.silk-html_go{ background-position: -224px -1408px; width: 16px; height: 16px; } 
.silk-html_valid{ background-position: -224px -1440px; width: 16px; height: 16px; } 
.silk-image{ background-position: -224px -1472px; width: 16px; height: 16px; } 
.silk-image_add{ background-position: -224px -1504px; width: 16px; height: 16px; } 
.silk-image_delete{ background-position: -224px -1536px; width: 16px; height: 16px; } 
.silk-image_edit{ background-position: -224px -1568px; width: 16px; height: 16px; } 
.silk-image_link{ background-position: -224px -1600px; width: 16px; height: 16px; } 
.silk-images{ background-position: -224px -1632px; width: 16px; height: 16px; } 
.silk-information{ background-position: -224px -1664px; width: 16px; height: 16px; } 
.silk-ipod{ background-position: -224px -1696px; width: 16px; height: 16px; } 
.silk-ipod_cast{ background-position: -224px -1728px; width: 16px; height: 16px; } 
.silk-ipod_cast_add{ background-position: -224px -1760px; width: 16px; height: 16px; } 
.silk-ipod_cast_delete{ background-position: -224px -1792px; width: 16px; height: 16px; } 
.silk-ipod_sound{ background-position: -224px -1824px; width: 16px; height: 16px; } 
.silk-joystick{ background-position: -224px -1856px; width: 16px; height: 16px; } 
.silk-joystick_add{ background-position: -224px -1888px; width: 16px; height: 16px; } 
.silk-joystick_delete{ background-position: -224px -1920px; width: 16px; height: 16px; } 
.silk-joystick_error{ background-position: -224px -1952px; width: 16px; height: 16px; } 
.silk-key{ background-position: -256px 0; width: 16px; height: 16px; } 
.silk-key_add{ background-position: -256px -32px; width: 16px; height: 16px; } 
.silk-key_delete{ background-position: -256px -64px; width: 16px; height: 16px; } 
.silk-key_go{ background-position: -256px -96px; width: 16px; height: 16px; } 
.silk-keyboard{ background-position: -256px -128px; width: 16px; height: 16px; } 
.silk-keyboard_add{ background-position: -256px -160px; width: 16px; height: 16px; } 
.silk-keyboard_delete{ background-position: -256px -192px; width: 16px; height: 16px; } 
.silk-keyboard_magnify{ background-position: -256px -224px; width: 16px; height: 16px; } 
.silk-layers{ background-position: -256px -256px; width: 16px; height: 16px; } 
.silk-layout{ background-position: -256px -288px; width: 16px; height: 16px; } 
.silk-layout_add{ background-position: -256px -320px; width: 16px; height: 16px; } 
.silk-layout_content{ background-position: -256px -352px; width: 16px; height: 16px; } 
.silk-layout_delete{ background-position: -256px -384px; width: 16px; height: 16px; } 
.silk-layout_edit{ background-position: -256px -416px; width: 16px; height: 16px; } 
.silk-layout_error{ background-position: -256px -448px; width: 16px; height: 16px; } 
.silk-layout_header{ background-position: -256px -480px; width: 16px; height: 16px; } 
.silk-layout_link{ background-position: -256px -512px; width: 16px; height: 16px; } 
.silk-layout_sidebar{ background-position: -256px -544px; width: 16px; height: 16px; } 
.silk-lightbulb{ background-position: -256px -576px; width: 16px; height: 16px; } 
.silk-lightbulb_add{ background-position: -256px -608px; width: 16px; height: 16px; } 
.silk-lightbulb_delete{ background-position: -256px -640px; width: 16px; height: 16px; } 
.silk-lightbulb_off{ background-position: -256px -672px; width: 16px; height: 16px; } 
.silk-lightning{ background-position: -256px -704px; width: 16px; height: 16px; } 
.silk-lightning_add{ background-position: -256px -736px; width: 16px; height: 16px; } 
.silk-lightning_delete{ background-position: -256px -768px; width: 16px; height: 16px; } 
.silk-lightning_go{ background-position: -256px -800px; width: 16px; height: 16px; } 
.silk-link{ background-position: -256px -832px; width: 16px; height: 16px; } 
.silk-link_add{ background-position: -256px -864px; width: 16px; height: 16px; } 
.silk-link_break{ background-position: -256px -896px; width: 16px; height: 16px; } 
.silk-link_delete{ background-position: -256px -928px; width: 16px; height: 16px; } 
.silk-link_edit{ background-position: -256px -960px; width: 16px; height: 16px; } 
.silk-link_error{ background-position: -256px -992px; width: 16px; height: 16px; } 
.silk-link_go{ background-position: -256px -1024px; width: 16px; height: 16px; } 
.silk-lock{ background-position: -256px -1056px; width: 16px; height: 16px; } 
.silk-lock_add{ background-position: -256px -1088px; width: 16px; height: 16px; } 
.silk-lock_break{ background-position: -256px -1120px; width: 16px; height: 16px; } 
.silk-lock_delete{ background-position: -256px -1152px; width: 16px; height: 16px; } 
.silk-lock_edit{ background-position: -256px -1184px; width: 16px; height: 16px; } 
.silk-lock_go{ background-position: -256px -1216px; width: 16px; height: 16px; } 
.silk-lock_open{ background-position: -256px -1248px; width: 16px; height: 16px; } 
.silk-lorry{ background-position: -256px -1280px; width: 16px; height: 16px; } 
.silk-lorry_add{ background-position: -256px -1312px; width: 16px; height: 16px; } 
.silk-lorry_delete{ background-position: -256px -1344px; width: 16px; height: 16px; } 
.silk-lorry_error{ background-position: -256px -1376px; width: 16px; height: 16px; } 
.silk-lorry_flatbed{ background-position: -256px -1408px; width: 16px; height: 16px; } 
.silk-lorry_go{ background-position: -256px -1440px; width: 16px; height: 16px; } 
.silk-lorry_link{ background-position: -256px -1472px; width: 16px; height: 16px; } 
.silk-magifier_zoom_out{ background-position: -256px -1504px; width: 16px; height: 16px; } 
.silk-magnifier{ background-position: -256px -1536px; width: 16px; height: 16px; } 
.silk-magnifier_zoom_in{ background-position: -256px -1568px; width: 16px; height: 16px; } 
.silk-male{ background-position: -256px -1600px; width: 16px; height: 16px; } 
.silk-map{ background-position: -256px -1632px; width: 16px; height: 16px; } 
.silk-map_add{ background-position: -256px -1664px; width: 16px; height: 16px; } 
.silk-map_delete{ background-position: -256px -1696px; width: 16px; height: 16px; } 
.silk-map_edit{ background-position: -256px -1728px; width: 16px; height: 16px; } 
.silk-map_go{ background-position: -256px -1760px; width: 16px; height: 16px; } 
.silk-map_magnify{ background-position: -256px -1792px; width: 16px; height: 16px; } 
.silk-medal_bronze_1{ background-position: -256px -1824px; width: 16px; height: 16px; } 
.silk-medal_bronze_2{ background-position: -256px -1856px; width: 16px; height: 16px; } 
.silk-medal_bronze_3{ background-position: -256px -1888px; width: 16px; height: 16px; } 
.silk-medal_bronze_add{ background-position: -256px -1920px; width: 16px; height: 16px; } 
.silk-medal_bronze_delete{ background-position: -256px -1952px; width: 16px; height: 16px; } 
.silk-medal_gold_1{ background-position: -288px 0; width: 16px; height: 16px; } 
.silk-medal_gold_2{ background-position: -288px -32px; width: 16px; height: 16px; } 
.silk-medal_gold_3{ background-position: -288px -64px; width: 16px; height: 16px; } 
.silk-medal_gold_add{ background-position: -288px -96px; width: 16px; height: 16px; } 
.silk-medal_gold_delete{ background-position: -288px -128px; width: 16px; height: 16px; } 
.silk-medal_silver_1{ background-position: -288px -160px; width: 16px; height: 16px; } 
.silk-medal_silver_2{ background-position: -288px -192px; width: 16px; height: 16px; } 
.silk-medal_silver_3{ background-position: -288px -224px; width: 16px; height: 16px; } 
.silk-medal_silver_add{ background-position: -288px -256px; width: 16px; height: 16px; } 
.silk-medal_silver_delete{ background-position: -288px -288px; width: 16px; height: 16px; } 
.silk-money{ background-position: -288px -320px; width: 16px; height: 16px; } 
.silk-money_add{ background-position: -288px -352px; width: 16px; height: 16px; } 
.silk-money_delete{ background-position: -288px -384px; width: 16px; height: 16px; } 
.silk-money_dollar{ background-position: -288px -416px; width: 16px; height: 16px; } 
.silk-money_euro{ background-position: -288px -448px; width: 16px; height: 16px; } 
.silk-money_pound{ background-position: -288px -480px; width: 16px; height: 16px; } 
.silk-money_yen{ background-position: -288px -512px; width: 16px; height: 16px; } 
.silk-monitor{ background-position: -288px -544px; width: 16px; height: 16px; } 
.silk-monitor_add{ background-position: -288px -576px; width: 16px; height: 16px; } 
.silk-monitor_delete{ background-position: -288px -608px; width: 16px; height: 16px; } 
.silk-monitor_edit{ background-position: -288px -640px; width: 16px; height: 16px; } 
.silk-monitor_error{ background-position: -288px -672px; width: 16px; height: 16px; } 
.silk-monitor_go{ background-position: -288px -704px; width: 16px; height: 16px; } 
.silk-monitor_lightning{ background-position: -288px -736px; width: 16px; height: 16px; } 
.silk-monitor_link{ background-position: -288px -768px; width: 16px; height: 16px; } 
.silk-mouse{ background-position: -288px -800px; width: 16px; height: 16px; } 
.silk-mouse_add{ background-position: -288px -832px; width: 16px; height: 16px; } 
.silk-mouse_delete{ background-position: -288px -864px; width: 16px; height: 16px; } 
.silk-mouse_error{ background-position: -288px -896px; width: 16px; height: 16px; } 
.silk-music{ background-position: -288px -928px; width: 16px; height: 16px; } 
